
:root {
    --light-pink: #FFB6C1;
    --light-blue: #1b9ce2;
    --rose-quartz: #F7CAC9;
    --hvit: #ffff;
    --blue-light:#abc4d3;
    --light-gray:#f2f2f2;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--blue-light); 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.signup-container {
    background: var(--hvit); 
    padding: 50px;
    border-radius: 10px; 
    text-align: center;
    width: 500px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.signup-container h2 {
    font-size: 1.8rem; 
    margin-bottom: 20px;
    color: var(--light-pink); 
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem; 
}

.signup-container button {
    background-color: var(--light-blue); 
    color: var(--hvit); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.signup-container button:hover {
    background-color: var(--light-pink); 
}

.signup-link {
    display: block;
    margin-top: 20px;
    color: var(--light-blue); 
    text-decoration: none;
}

.signup-link:hover {
    color: var(--light-pink); 
    text-decoration: underline;
}
