<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Signup.css')}}">
</head>

<body>

    <div class="signup-container">

        <h2>Registrer deg</h2>

        <form id="signup-form">

            <label for="first-name">fullnavn</label>
            <input type="text" id="first-name" name="first-name" placeholder="Skriv ditt Navn" required>
            <div id="first-name-error" class="error-message"></div>

            <label for="email">E-post</label>
            <input type="email" id="email" name="email" placeholder="Skriv din e-post" required>
            <div id="email-error" class="error-message"></div>

            <label for="password">Passord</label>
            <input type="password" id="password" name="password" placeholder="Opprett et passord" required>
            <div id="password-error" class="error-message"></div>

            <button type="submit">Registrer</button>

        </form>
    </div>

    <script src="{{url_for('static', filename='js/Signup.js')}}"></script>



</body>

</html>